.notice-container {
    padding: 25px 80px 0 10px;
    .title-box {
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        margin-top: -15px;
        .notice-title {
            font-size: 16px;
            margin: 10px auto;
        }
        .notice-date {
            color:#8c8888;
            font-size: 14px;
            margin: 19px 10px 0 0px;
        }
    }
}
.markdown-body {
    height: 456px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px !important;
}
.row {
    display: flex;
}
.sort /deep/ .el-form-item__content {
    width: 100%;
}
.el-button--small.is-circle {
    padding: 6px 1px 1px 7px;
    text-align: center;
    font-size: 16px;
}
/deep/ .v-note-navigation-content {
    background: rgb(39, 28, 26);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    h1, h2, h3, h4, h5, h6 {
        color: rgb(238,227,157) !important;
        font-family: cursive;
        font-size: 14px;
    }
}
/deep/ .v-note-navigation-wrapper {
    border-radius: 18px;
    right: 20px !important;
    height: 87% !important;
    border: 2px dotted #97a8be !important;
}
/deep/ .el-dialog__body {
    border: none !important;
    padding: 15px 20px !important;
}